* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    background-color: #264653;
}

#panel {
    width: 80%;
    height: 80%;
    border-radius: 0 0 10px 10px;
    background-color: #2A9D8F;
}

#ptop{
    display: flex;
    color: #264653;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25%;
    width: 80%;
    border-radius: 10px 10px 0 0;
    background-color: #F4A261;
}

.elem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.elem h2 {
    font-weight: 700;
    font-size: 30px;
}

.box {
    color: #264653;
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #E9C46A;
    border-radius: 10px;
}

#pbtm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#pbtm div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pbtm h1 {
    font-size: 80px;
    color: rgb(255, 0, 0);
}

#pbtm p {
    font-size: 40px;
    color: #264653;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    color: #264653;
    background-color: #E9C46A;
    box-shadow: 4px 4px 0 #F4A261;
    font-weight: 700;
    font-size: 22px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.bubble:hover {
    cursor: pointer;
}

.bubble:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: 0 0 0 #F4A261;
}

@media screen and (max-width: 1420px) {
    #ptop{
        flex-direction: column;
        gap: 15px;
    }
  }